*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hour{
    display: flex;
    margin-top: 30px;
}
.hour hr{
    padding: 5px;
    width: 100%;
}
.w1{
    background-color: blue;
    border: 2px solid blue;
}
.w2{
    background-color: yellow;
    border: 2px solid yellow;
}
.w3{
    background-color: red;
    border: 2px solid red;
}
.fils{
    display: flex;
    margin-top: 0;
}
.update p{
    margin-left: 20px;
    margin-top: -20px;
    color: rgb(161, 160, 160);
}
.update span{
    color: rgb(146, 146, 146);
    margin-left: 20px;
    display: block;
    margin-top: 10px;
    line-height: 1.3em;
    font-weight: 300;
}
.update p a{
    color: #368dff;
}
.update {
    color: white;
}
.fils strong{
    font-size: 20px;
    font-weight:400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.fils span{
    margin-left: 5px;
    margin-top: 15px;
    color:#c7c5c5;
    font-weight: 300;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.fils img{
    width: 60px;
    height: 60px;
}
.jesus{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color:black;
    padding: 70px 120px;
}
.pere h3{
    color: white;
    margin: 10px 0;
    font-weight: 400;
}
.pere span{
    color: rgb(155, 155, 155);
    margin: 10px 0;
    font-weight: 300;
}
.pere hr{
   background-color: green;
 
    margin: 10px 0;
}
.pere p{
    color: rgb(163, 163, 163);
}
.instal h3{
    color: white;
    margin: 10px 0;
    font-weight: 400;
}
.instal span{
    color: rgb(131, 131, 131);
    margin: 10px 0;
    cursor: pointer;
    transition: .33s ease-out;
    font-weight: 300;
}
.instal span:hover{
    border-bottom: 1px solid white;
}
.instal span a{
    color:rgb(131, 131, 131);
    text-decoration: none;
    transition: .33s ease-out;
}
.instal span a:hover{
    color: white;
}

.instal hr{
    border: 1px solid green;
    margin: 5px 0;
}
.der{
    background-color: #131010;
    justify-content: space-between;
    padding: 20px 50px;
    width: 100%;
    display: flex;
}
.der span{
    color: rgb(70, 69, 69);
    font-size: 14px;
    font-weight: 200;
    font-family: 'Times New Roman', Times, serif,sans-serif;
   
}
.der span a{
    color: #368dff;
}


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 40px;
    background-color: rgb(1, 141, 1);
}
.container h2{
font-size: 22px;
font-weight: 400;
color: aquamarine;
margin-top: 10px;
}
.container h2:hover{
    border-bottom: 2px solid white;
    color: white;
}
.container h2 i{
    margin-right: 10px;
}
.container div ul{
    display: flex;
    margin-right: 20px;
}
.container div ul li{
    margin: 14px 20px;
    list-style: none;
}
.container div ul li:nth-child(3){
    background-color:rgba(11, 201, 11, 0.582);
    padding: 20px ;
    margin-top: 0;
    color: white;
}
.container div ul li a:nth-child(3):hover{
color: green;
}
.container div ul  a:nth-child(3){
    color: white;
}
.container div ul li:hover{
    border-bottom: 3px solid white;
}
.container div ul li a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    color: rgba(129, 253, 253, 0.788);
    transition: .55s ease-in-out;
}
.container div ul li a:hover,
#center{
    color:white;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 30px;
    background-color: white;
    border: 2px solid whitesmoke;
    position: sticky;
    top: 0;
    z-index: 1;
}
.contenu{
    display: flex;
}
.contenu img{
    width: 70px;
    height: 70px;
    margin-top: 15px;
}
.contenu h2{
    margin-top: 30px;
    font-size: 34px;
    font-weight: bold;
    margin-left: 5px;
}
.contenu h2 strong{
    color: green;
}
.contenu h2 span{
    display: block;
    font-size: 15px;
}
.center ul{
    display: flex;
    margin-top: 34px;
}
.center ul li{
    margin: 7px 20px;
    list-style: none;
}
.center ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight:400;
    color: gray;
}
.hamburger{
    display: none;
}




.auto img{
    width: 100%;
    /* margin-left: 15%; */
    margin-top: 10px;
    border-radius: 3px;
}
.auto{
    border: 1px solid whitesmoke;
    background-color: white;
    margin: 0 70px;
}
.auto h4{
    /* margin-left: 140px; */
    font-size: 23px;
    padding: 10px 50px;
    color: rgb(29, 0, 56);
}
.auto p{
    /* margin: 0 200px; */
    text-align: justify;
    font-size: 24px;
    line-height: 1.3em;
}
.autop{
    border: 1px solid whitesmoke;
    background-color: white;
    margin: 0 70px;
}
.autop img{
    width: 100%;
    /* margin-left: 15%; */
    margin-top: 10px;
    border-radius: 3px;
}
.autop p{
    /* margin: 0 200px; */
    text-align: justify;
    font-size: 24px;
    line-height: 1.3em;
}
.autop h4{
    /* margin-left: 140px; */
    font-size: 23px;
    padding: 10px 50px;
    color: rgb(29, 0, 56);
}










@media(max-width:850px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow-x: hidden;
    }
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        /* overflow-x: hidden; */
    }
    .jesus{
        display: block;
        text-align: justify;
        padding: 20px 10px;
    }
    .fils{
        margin-top: 0;
        padding: 20px 0;
        height: 100%;
        overflow: hidden;
    }
    .fils img{
        margin-left: 10px;
    }
    .fils span{
        position: relative;
        right: 15px;
    }
    .update span{
        margin-left: 25px;
    }
    .update p{
        margin-top: -10px;
       margin-left: 25px;
    }
    .pere hr{
        width: 60%;
        margin: 10px 1px;
    }
    .instal hr{
width: 60%;
margin: 10px 1px;
    }
    .pere{
        margin-left: 30px;
    }
    .instal{
        margin-left: 30px;
    }
    .der{
        display: block;
    }
    .der span{
        display: block;
        margin: 10px 0;
        font-size: 16px;
        line-height: 1.3em;
        font-weight: 400;
    }
    .contenu h2{
        font-size: 20px;
        margin-top: 17px;
        margin-left: 2px;
        font-weight: 400;
    }
    .contenu h2 span{
        font-weight: 300;
    }
    .contenu img{
        width: 50px;
        height:50px;
        margin-top: 10px;
    }
   
    .container{
        display: none;
        padding: 8px 7px;
    }
    nav{
        overflow: visible;
        position: fixed;
        padding: 6px 5px;
        border-bottom: 1px solid rgb(5, 236, 5);
    }
    .center{
        position: absolute;
        right:-100%;
        width: 70%;
        height: 100vh;
        top: 100%;
        background-color: black;
        transition: right .33s linear;
        
    }
    .center.open{
        right: 0;
    }
    .center ul{
        flex-direction: column;
        overflow: visible;
        margin-left: 20px;
    }
    .center ul li{
        margin: 15px 0;
    }
    .hamburger{
        width: 28px;
        height: 28px;
        cursor:pointer;
        border: none;
        display: flex;
        align-items: center;
        position: relative;
        background-color:white ;
        top: 19px;
        right: 5px;
        
    }
    .hamburger span{
        display: block;
        width:100%;
        height: 3px;
        background:#414141;
        position: absolute;
        pointer-events: none;
        transition: opacity 0.3s 0.15s ease-out;
        cursor: pointer;
    }
    .hamburger span:nth-child(1),
    .hamburger span:nth-child(3){
        transition: transform 0.3s ease-out;
    }
    
    .hamburger span:nth-child(1){
        transform: translateY(7px);
    }
    .hamburger span:nth-child(3){
transform: translateY(-7px);
    }
    .hamburger.open span:nth-child(1){
        transform: translate(0) rotate(135deg);

    }
    .hamburger.open span:nth-child(2){
        opacity: 0;
        transition: opacity
        0s ease out;
    }
    .hamburger.open span:nth-child(3){
        transform: translate(0) rotate(-135deg);
    }
    .auto{
        border: 1px solid whitesmoke;
        background-color: white;
        margin: 0 10px;
    }
    .auto h4{
        margin-left: 10px;
        font-size: 23px;
        padding: 10px;
        color: rgb(29, 0, 56);
    }
    .auto img{
        width: 94%;
        margin-top: 120px;
        margin-left: 11px;
        border-radius: 5px;
    }
    .auto p{
        margin: 0 20px;
        text-align: justify;
        font-size: 20px;
        line-height: 1.3em;
    }
    .autop{
        border: 1px solid whitesmoke;
        background-color: white;
        margin: 0 10px;
    }
    .autop img{
        width: 94%;
        margin-top: 20px;
        margin-left: 11px;
        border-radius: 5px;
    }
    .autop p{
        margin: 0 20px;
        text-align: justify;
        font-size: 20px;
        line-height: 1.3em;
    }
    .autop h4{
        margin-left: 10px;
        font-size: 23px;
        padding: 10px;
        color: rgb(29, 0, 56);
    }

}

