*{
    overflow-x: hidden;
    box-sizing: border-box;
}
nav{
    position:fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 2px;
    background-color:rgb(90, 173, 90);
    box-shadow: 0px -1px 0px #c5c5c6;
    top:0;
    z-index:1;
    left: 0;
    right: 0;
    width: 100%;
    overflow-x: visible;
    box-sizing: border-box;
}
#del{
    display:none;
}
#op{
    display: none;
}
.nav-icon{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 20px;
}
.nav-icon span{
    font-family: roboto flex,sans-serif;
    font-size: 28px;
    margin-left: 10px;
    font-weight: 400;
    color: #333;

}
#fac {
    list-style: none;
    margin-left: 0;
}



.nav-icon img{
    width: 40px;
    transform: rotate(-1deg) translateX(5px);
}
.hamburger{
    display: none;

}
.navlinks-container ul{
    display: inline-flex;
}
#gis ul li{
display: block;

}
#gis ul{
    display: block;
    padding: 20px 10px;
}
.navlinks-container ul li a{
    font-size: 20px;
    padding: 0 50px;
    margin-left: 0;
    margin-right: 6%;
    
}
.res{
    display: block;
}
.navlinks-container{
   
    margin-top: 7px;
    overflow-x: visible;

   
}



.navlinks-container ul li:hover
 #gis{
    display: block;
    margin-top: 0;
    position: absolute;
    margin-left: 10px;
    width: 20%;
}

.navlinks-container ul li:hover
 #gis ul{
display: block;
margin: 10px;
 }

#gis{
    display:none;
    color: white;
    background-color:rgb(90, 173, 90);
    width: 10%;
    margin-left: 100%;
    
    
}
.navlinks-container  a {
    margin: 2px -30px;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: #414141;
    display: inline-block;
    position: relative;
    overflow-x: visible;
}
.navlinks-container a::after #gis{
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    width:100%;
    height: 1px;
   transform: scaleX(0);
   transform-origin: left;
   background: #333;
   transition:transform 0.3s ease-out;
}
.navlinks-container a:hover::after{
    transform: scaleX(1);
}




#op{
    margin-left: 110px;
    display:inline-block;
    
   
}

#del{
    display:inline-block;
    width: 2%;
    height: 4%;
    margin-left:110px ;


}
#se{
    display: none;
}


.juge{
    
    overflow-x: visible;
    cursor: pointer;
}
.juge a:hover{
    background-color: #1876f2;
    color: white;
}
.juge a{
    cursor: pointer;
    color: blue;
    list-style: none;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
    box-shadow: 4px 5px 3px gray;
    border-radius: 6px;
    display: inline-block;
    padding: 2px 10px;
    background:white;
    
    overflow-x:visible;
}

.toukra{
    margin-left: 100%;
    color: white;
    animation-name: felix;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    padding-right: 0 26px;
   
    
    
}
@keyframes felix {
    0%{color:blue;}
    25%{color:blue;}
    50%{
        color:yellow;
    }
    75%{color: red;}
    100%{color:red;}

    
}
.rech{
    margin-top: 60px;
    text-align: center;
}
.rech h2{
    color: blue;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.rech p{
    font-weight: 400;
    font-size: 16px;
    box-sizing: border-box;
    flex-direction: column;
}
.container{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    
}
.container img{
    width: 100px;
}



























@media (max-width:700px) {
    nav{
        position:fixed;
        padding: -5px -70px;
        top:0;
        left: 0;
        right: 0;
        z-index: 5;
        background-color:rgb(96, 161, 96);
        width: 100%;
        overflow-x:visible;
        overflow-y:none;
        
       
    }
    #se{
        display: block;
    }
    .toukra{
        overflow-x: visible;
        margin-left: 10%;
    }
    body{
        overflow-x:hidden;
        box-sizing: border-box;
       
    }
    *{
        overflow-x:hidden;
        box-sizing: border-box;
    }
    #gis ul{
        background-color: black;
    }

    .navlinks-container ul li:hover
 #gis{
    display: block;
    margin-top: -47px;
    position: absolute;
    margin-left: 20%;
    width: 56%;
}

.navlinks-container ul li:hover
 #gis ul{
display: block;
margin: 8px;
 }

#gis{
    display:none;
    color: white;
    background-color:transparent;
    width: 60%;
    margin-left: 40%;
    
    
}
    
    .nav-icon{
        order: 2;
        margin: 0 auto;
    }
    .nav-icon span{
        font-size: 22px;
    }
    .main-navlinks{
        order: 1;

    }
    
    .hamburger{
        width: 28px;
        height: 28px;
        cursor:pointer;
        border: none;
        display: flex;
        align-items: center;
        position: relative;
        background-color:rgb(96, 161, 96) ;
    }
    .hamburger span{
        display: block;
        width:100%;
        height: 3px;
        background:black;
        position: absolute;
        pointer-events: none;
        transition: opacity 0.3s 0.15s ease-out;
    }
    .hamburger span:nth-child(1),
    .hamburger span:nth-child(3){
        transition: transform 0.3s ease-out;
    }
    
    .hamburger span:nth-child(1){
        transform: translateY(7px);
    }
    .hamburger span:nth-child(3){
transform: translateY(-7px);
    }
    .hamburger .open span:nth-child(1){
        transform: translate(0) rotate(135deg);

    }
    .hamburger .open span:nth-child(2){
        opacity: 0;
        transition: opacity
        0s ease out;
    }
    .hamburger .open span:nth-child(3){
        transform: translate(0) rotate(-135deg);
    }
    .navlinks-container ul {
        display: flex;
       flex-direction: column;
       align-items: flex-start;
      
       
    }
    .navlinks-container  {
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       position:absolute;
       background-color: rgb(0, 0, 0);
       top: 100%;
       left: 0;
       height: 300vh;
       border-right: 1px solid #c5c5c6;
       transform: translate(-100%);
       padding: 15px 50px 5px 5px;
       transition: transform 0.3s ease-out;
       width:93% ;
       z-index: 10;
    }
    .open{
        transform: translate(0%);
    }
    .navlinks-container a{
        font-size: 17px;
        margin: 10px 0;
        font-weight: 700;
        border-bottom: 1px solid white;
        padding: 6px 4px;
        width: 100%;
    }
    #hom #se{
        padding: 0 5px;
    }
    .navlinks-container #hom{
        color: white;
        font-size: 21px;
    }
    .nav-authentication{
        order: 3;
        margin-left: 0;
        margin-right: 14%;

    }
    
}