*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    width: 0;
}
div{
    position: absolute;
    margin-top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
div h1{
    color: red;
}
div h2{
    color: green;
}

@media(max-width:700px){
    div h1{
        font-size: 20px;
    }
    div h2{
        font-size: 17px;
    }
}