
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    overflow-x: hidden;
 }
 ::-webkit-scrollbar{
    width: 0;
}
 body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
 }
 .containere{
    display: flex;
 }  
 .containere div{
    margin: 10px 20px;
    border-radius: 5px;
 }
 nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 20px;
    position: fixed;
    background-color: white;
    z-index: 10;
 }
 .container{
    display: flex;
 }
 .container img{
    width: 80px;
    height: 80px;
 }
 .container h1{
    font-size: 32px;
    font-weight: bold;
    margin-top: 23px;
    margin-left: 5px;
 }
 .container h1 strong{
    color: green;
 }
 .container h1 span{
    display: block;
    font-size: 17px;
    font-weight: 300;
 }
 .contenu ul {
    display: flex;
    margin-top: 35px;
 }
 .contenu ul li{
    margin: 0 15px;
    transition: .3s ease-in-out;
 }
 .contenu ul li:hover{
    border-bottom: 6px solid rgb(7, 204, 7);
   padding-bottom: 18px;
 }
 .contenu ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #414141;
    transition: .33s linear;
 }
 .contenu ul li:hover a{
   color: rgb(1, 180, 1);
 }
   





.hamburger{
    display: none;}


.pela{
    background-image: url("../img/universite\ roy\ faycale.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
   margin-top:0px;
}
.ass{
    background-color: rgba(0, 0, 0, 0.459);
    width: 100%;
    
}
.ass h2{
    margin-top: 100px;
    text-align: center;
    padding: 130px 0;
    color: white;
    font-weight: bold;
    font-size: 66px;
    margin-bottom: 50px;
    font-family:'Times New Roman', Times, serif,sans-serif;
}
#uni{
    padding: 10px 20px;
    line-height: 1.6em;
    text-align: justify;
    font-size: 20px;
}
.choco{
    text-align: center;
    padding: 10px 10px;
    background-color: azure;
    margin: 2px 20px;
}
.choco span{
color: #414141;
font-weight: 900;
font-size: 26px;
}
.choco h2{
    color:green;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif,sans-serif;
    padding: 10px 0;
}
.choco p{
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.6em;
    text-align: justify;
}
.versi{
    /* text-align: center; */
    color: mediumblue;
    font-weight: bold;
    font-size: 45px;
    padding: 5px 0;
    margin-left: 40px;
}
.vis{
    /* text-align: center; */
    margin-left: 40px;
    padding: 5px 0;
    
}
.mis i{
    margin-right: 5px;
    color: green;
    font-size: 25px;
}
.mis span{
    font-size: 24px;
    font-weight: 900;
}
.mis{
   border: 1px solid azure;
   padding: 15px 10px;
   background-color: azure;
   margin: 1 5px 20px;
}
.mis p{
    padding: 0 10px;
    line-height: 1.6em;
    font-size: 20px;
    text-align: justify;
}
.miss i{
    margin-right: 5px;
    color: green;
    font-size: 25px;
}
.miss{
    background-color: azure;
    padding:30px 2px ;
    margin: 16px 20px;
}
.miss span{
    font-size: 24px;
    font-weight: 500;
}
.hour{
    display: flex;
    margin-top: 30px;
}
.hour hr{
    padding: 5px;
    width: 100%;
}
.w1{
    background-color: blue;
    border: 2px solid blue;
}
.w2{
    background-color: yellow;
    border: 2px solid yellow;
}
.w3{
    background-color: red;
    border: 2px solid red;
}
.fils{
    display: flex;
    margin-top: 0;
}
.update p{
    margin-left: 20px;
    margin-top: -20px;
    color: rgb(161, 160, 160);
}
.update span{
    color: rgb(146, 146, 146);
    margin-left: 20px;
    display: block;
    margin-top: 10px;
    line-height: 1.3em;
    font-weight: 300;
}
.update p a{
    color: #368dff;
}
.update {
    color: white;
}
.fils strong{
    font-size: 20px;
    font-weight:400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.fils span{
    margin-left: 5px;
    margin-top: 15px;
    color:#c7c5c5;
    font-weight: 300;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.fils img{
    width: 60px;
    height: 60px;
}
.jesus{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color:black;
    padding: 70px 120px;
}
.pere h3{
    color: white;
    margin: 10px 0;
    font-weight: 400;
}
.pere span{
    color: rgb(155, 155, 155);
    margin: 10px 0;
    font-weight: 300;
}
.pere hr{
   background-color: green;
 
    margin: 10px 0;
}
.pere p{
    color: rgb(163, 163, 163);
}
.instal h3{
    color: white;
    margin: 10px 0;
    font-weight: 400;
}
.instal span{
    color: rgb(131, 131, 131);
    margin: 10px 0;
    cursor: pointer;
    transition: .33s ease-out;
    font-weight: 300;
}
.instal span:hover{
    border-bottom: 1px solid white;
}
.instal span a{
    color:rgb(131, 131, 131);
    text-decoration: none;
    transition: .33s ease-out;
}
.instal span a:hover{
    color: white;
}

.instal hr{
    border: 1px solid green;
    margin: 5px 0;
}
.der{
    background-color: #131010;
    justify-content: space-between;
    padding: 20px 50px;
    width: 100%;
    display: flex;
}
.der span{
    color: rgb(70, 69, 69);
    font-size: 14px;
    font-weight: 200;
    font-family: 'Times New Roman', Times, serif,sans-serif;
   
}
.der span a{
    color: #368dff;
}








.contenu ul li a i{
    display: none;
}










@media(max-width:800px){
    
    .jesus{
        display: block;
        text-align: justify;
        padding: 20px 10px;
    }
    .fils{
        margin-top: 0;
        padding: 20px 0;
        height: 100%;
        overflow: hidden;
    }
    .fils img{
        margin-left: 10px;
    }
    .fils span{
        position: relative;
        right: 15px;
    }
    .update span{
        margin-left: 25px;
    }
    .update p{
        margin-top: -10px;
       margin-left: 25px;
    }
    .pere hr{
        width: 60%;
        margin: 10px 1px;
    }
    .instal hr{
width: 60%;
margin: 10px 1px;
    }
    .pere{
        margin-left: 30px;
    }
    .instal{
        margin-left: 30px;
    }
    .der{
        display: block;
    }
    .der span{
        display: block;
        margin: 10px 0;
        font-size: 16px;
        line-height: 1.3em;
        font-weight: 400;
    }
    
.hamburger{
    width: 28px;
    height: 28px;
    cursor:pointer;
    border: none;
    display: flex;
    align-items: center;
    position: relative;
    background-color:white;
    margin-top: 13px;
    margin-right: 10px;
}
.hamburger span{
    display: block;
    width:100%;
    height: 3px;
    background:#414141;
    position: absolute;
    pointer-events: none;
    transition: opacity 0.3s 0.15s ease-out;
}
.hamburger span:nth-child(1),
.hamburger span:nth-child(3){
    transition: transform 0.53s ease-out;
}

.hamburger span:nth-child(1){
    transform: translateY(7px);
}
.hamburger span:nth-child(3){
transform: translateY(-7px);
}
.hamburger.open span:nth-child(1){
    transform: translate(0) rotate(135deg);

}
.hamburger.open span:nth-child(2){
    opacity: 0;
    transition: opacity
    0s ease out;
}
.hamburger.open span:nth-child(3){
    transform: translate(0) rotate(-135deg);
}
body{
    overflow-x: visible;
}
nav{
   overflow: visible;
   padding: 5px 4px;
}

.container h1{
font-size: 20px;
margin-top: 10px;
}
.container h1 span{
    font-size: 13px;
}
.container img{
    width: 50px;
    height: 50px;
}
.contenu {
    position: absolute;
    top: 100%;
   right:0;
   width: 80%;
   height: 100vh;
   background-color: #131010;
   max-height: 0;
   transition: max-height .63s linear;
}
.contenu.open{
    max-height: 1000px;
}
.contenu ul{
    flex-direction: column;
    margin-left: 30px;
}
.contenu ul li{
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid gray;
    width: 90%;
}
.contenu ul li a{
    color: rgb(211, 207, 207);
    display: flex;
    width: 97%;
    justify-content: space-between;
    font-size: 18px;
}
.contenu ul li a i{
    display: flex;
    font-size: 14px;
    margin-top: 10px;
}
.ass h2{
    padding: 70px 3px;
    font-size: 26px;
}

.containere{
    display: block;
    margin: 20px 0 !important;
    padding: 10px 10px;
}
.containere div{
    margin: 0 5px;
}
.choco{
    margin: 0 15px;
    border-radius: 5px;
}




}

